<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="264" border="1">
  <tr>
    <td width="344"><a href="/myapp/add_bus/">add bus</a></td>
  </tr>
  <tr>
    <td><a href="/myapp/add_student/">add student</a></td>
  </tr>

  <tr>
    <td><a href="/myapp/password_change/">password change</a></td>
  </tr>
{#  <tr>#}
{#    <td><a href="/myapp/send_payment_notification/">send payment notification</a></td>#}
{#  </tr>#}
  <tr>
    <td><a href="/myapp/student_bus_allocation/">student bus allocation</a></td>
  </tr>
  <tr>
    <td><a href="/myapp/view_bus/">view bus</a></td>
  </tr>
  <tr>
    <td><a href="/myapp/view_complaint_and_send_reply/">view complaint&send reply</a></td>
  </tr>
{#  <tr>#}
{#    <td><a href="/myapp/view_payment_notification/">view payment notification</a></td>#}
{#  </tr>#}
  <tr>
    <td><a href="/myapp/view_student_bus_allocation/">view student bus allocation</a></td>
  </tr>
  <tr>
    <td><a href="/myapp/view_student/">view student</a></td>
  </tr>
  <tr>
    <td><a href="/myapp/view_track_bus/">view track bus</a></td>
  </tr>
    <tr>
    <td><a href="/myapp/add_driver/">add driver</a></td>
  </tr>
     <tr>
    <td><a href="/myapp/view_driver/">view driver</a></td>
  </tr>
    <tr>
    <td><a href="/myapp/allocation/">allocation</a></td>
  </tr>

</table>
</body>
</html>
