{% extends 'admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/view_student_bus_allocation_post/#abc">
    {% csrf_token %}
  <table class="table table-bordered ">
    <tr>
      <td>Student name</td>
      <td colspan="3">
      <input type="text" class="form-control"name="textfield" id="textfield"required /></td>
      <td colspan="3"><input type="submit" class="btn btn-success"name="button" id="button" value="Search" /></td>
    </tr><br>
    <tr>
      <th>S/NO</th>
      <th>Student Details</th>
      <th>Bus Number</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">{{ forloop.counter }}</td>
      <td>{{ i.STUDENT.Name }}</td>
      <td>{{ i.BUS.Bus_number }}</td>
      <td><a href="/myapp/edit_student_allocation/{{ i.id }}#abc" class="btn btn-success">Edit</a></td>
      <td><a href="/myapp/delete_student_allocation/{{ i.id }}" onclick="return confirm('Are You Sure')"class="btn btn-danger">Delete</a></td>
{#      <td><a href="#">Payment</a></td>#}
{#      <td><a href="#">Location</a></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
